span.slds-text-heading_small.slds-truncate {
  width: 100% !important;
}
.title {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
  align-items: center;
}

.icon-dvnube {
  grid-column-start: end;
}

.grid {
  display: grid;
  border-top: 1px solid #dddbda;
  padding: 1rem;
  grid-gap: 1rem;
  align-items: center;
}
.desktop {
  grid-template-columns: 1fr 1fr 1fr;
}

.validation-message {
  display: grid;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 0.01em 16px;
}

.icon {
  padding: 0.5rem;
}
